spring:
  application:
    name: merchant-store-api
  datasource:
    url: jdbc:postgresql://ep-royal-mud-a1zstt0l-pooler.ap-southeast-1.aws.neon.tech/store_db?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_fcEohIAyrB68
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
        format_sql: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha